<gojs-diagram
  [initDiagram]="initDiagram"
  [nodeDataArray]="state.diagramNodeData"
  [linkDataArray]="state.diagramLinkData"
  [modelData]="state.diagramModelData"
  [skipsDiagramUpdate]="state.skipsDiagramUpdate"
  (modelChange)="diagramModelChange($event)"
  [divClassName]="diagramDivClassName"
>
</gojs-diagram>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<pre>
安装插件：
<code>npm install gojs gojs-angular -S</code>

module文件引用：
<code>import {{'{'}} GojsAngularModule {{'}'}} from 'gojs-angular';</code>
<code>imports: [ GojsAngularModule ]</code>

ts文件引用：
<code>import * as go from 'gojs';</code>

参考：
<a href="https://gojs.net/latest/intro/angular.html">Using GoJS with Angular</a>
<a href="https://juejin.cn/post/6844903612720775181">gojs 流程图框架-基础绘图(一)</a>
</pre>
