<div #tableView class="table-view">
  <nz-table [nzData]="listOfData" [nzScroll]="{ y: tableHeight + 'px' }">
    <thead>
      <tr>
        <th nzLeft>Full Name</th>
        <th nzLeft>Age</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <th nzRight>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td nzLeft>{{ data.name }}</td>
        <td nzLeft>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.address }}</td>
        <td nzRight>
          <a>action</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
