<div>
  <a
    target="_blank"
    href="http://view.officeapps.live.com/op/view.aspx?src=https://github.com/churjan/angular12-demos/raw/master/test.xlsx"
    >打开excel</a
  >
</div>
<button nz-button nzType="primary" (click)="onPreviewPDF()">预览PDF</button>

<ng2-pdfjs-viewer
  #pdfViewerOnDemand
  [externalWindow]="true"
  [viewBookmark]="false"
  [download]="false"
></ng2-pdfjs-viewer>

<pre class="mt200">
参考：
<a href="https://www.npmjs.com/package/ng2-pdfjs-viewer">ng2-pdfjs-viewer</a>
</pre>
