<nz-select
  [(ngModel)]="selectedKey"
  [nzDropdownMatchSelectWidth]="false"
  [nzCustomTemplate]="selectTemplate"
  (ngModelChange)="onChange($event)"
  nzBorderless
>
  <nz-option
    [nzValue]="item.value"
    [nzLabel]="item.label"
    nzCustomContent
    *ngFor="let item of timeList"
  >
    <div name="option">
      <span class="mr5">{{ item.label }}排序</span>
      <ng-container *ngIf="item.value !== 'none'">
        <i
          nz-icon
          nzType="arrow-up"
          nzTheme="outline"
          class="arrow-up-icon mr5"
          (click)="onClick('asc')"
          [style.color]="
            selectedKey === item.value && selectedSort === 'asc'
              ? '#1890ff'
              : ''
          "
        ></i>
        <i
          nz-icon
          nzType="arrow-down"
          nzTheme="outline"
          class="arrow-down-icon mr5"
          (click)="onClick('desc')"
          [style.color]="
            selectedKey === item.value && selectedSort === 'desc'
              ? '#1890ff'
              : ''
          "
        ></i>
      </ng-container>
    </div>
  </nz-option>
</nz-select>

<ng-template #selectTemplate let-node>
  <ng-container *ngIf="selectedKey === 'none'">
    {{ node.nzLabel }}排序
  </ng-container>
  <ng-container *ngIf="selectedKey !== 'none' && selectedSort === 'asc'">
    {{ node.nzLabel }}升序
  </ng-container>
  <ng-container *ngIf="selectedKey !== 'none' && selectedSort === 'desc'">
    {{ node.nzLabel }}降序
  </ng-container>
</ng-template>

<div>{{ selectedKey }}</div>
<div>{{ selectedSort }}</div>
